<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultBoldFontName</key>
	<string>regularSystemFont</string>
	<key>defaultFontName</key>
	<string>lightSystemFont</string>
	<key>defaultTextColor</key>
	<string>darkTextColor</string>
	<key>inputAreaAbbreviationTextColor</key>
	<string>@defaultTextColor</string>
	<key>inputAreaBlackTextColor</key>
	<string>@defaultTextColor</string>
	<key>inputAreaAbbreviationFontName</key>
	<string>semiboldSystemFont</string>
	<key>inputAreaAbbreviationFontSize</key>
	<integer>11</integer>
	<key>inputAreaAbbreviationInputProgressIndicationOffset</key>
	<integer>1</integer>
	<key>inputAreaActionMenuAreaTextShadowOffset</key>
	<string>0 0</string>
	<key>inputAreaAutohideOffImage</key>
	<string>AutohideOffTemplate</string>
	<key>inputAreaAutohideOffImageSize</key>
	<string>16.0 16.0</string>
	<key>inputAreaAutohideOffImagePaddingLeft</key>
	<integer>6</integer>
	<key>inputAreaAutohideOffImagePaddingRight</key>
	<integer>9</integer>
	<key>inputAreaDefocusedItemFontName</key>
	<string>@defaultFontName</string>
	<key>inputAreaDefocusedItemFontSize</key>
	<integer>13</integer>
	<key>inputAreaDimmedTextColor</key>
	<string>#808080</string>
	<key>inputAreaFocusedItemFontName</key>
	<string>@defaultBoldFontName</string>
	<key>inputAreaFocusedItemFontSize</key>
	<integer>13</integer>
	<key>inputAreaHeight</key>
	<integer>30</integer>
	<key>inputAreaIconSize</key>
	<string>16 16</string>
	<key>inputAreaKeyCapImagePaddingRight</key>
	<integer>7</integer>
	<key>inputAreaKeyCapImageSize</key>
	<string>18 18</string>
	<key>inputAreaMenuButtonImage</key>
	<string>GearWheelTemplate</string>
	<key>inputAreaMenuButtonImageSize</key>
	<string>16.0 16.0</string>
	<key>inputAreaMenuButtonPaddingRight</key>
	<integer>6</integer>
	<key>inputAreaPaddingLeft</key>
	<integer>7</integer>
	<key>inputAreaShouldSmoothFonts</key>
	<true/>
	<key>inputAreaTextColor</key>
	<string>@defaultTextColor</string>
	<key>inputAreaTitlePaddingLeft</key>
	<integer>7</integer>
	<key>inputAreaPaddingRight</key>
	<integer>7</integer>
	<key>inputAreaTitleSeparatorFontSize</key>
	<integer>13</integer>
	<key>itemListEdgeInsets</key>
	<string>0 0 0 0</string>
	<key>itemListExtraDetailsBaselineOffset</key>
	<integer>0</integer>
	<key>itemListExtraDetailsFontName</key>
	<string>@defaultFontName</string>
	<key>itemListExtraDetailsFontSize</key>
	<integer>11</integer>
	<key>itemListExtraDetailsTextColor</key>
	<string>#5a5a5a</string>
	<key>itemListGridLineHeight</key>
  <integer>0</integer>
  <key>itemListGridLineShadowHeight</key>
  <integer>0</integer>
	<key>itemListIconSize</key>
	<string>16 16</string>
	<key>itemListIconPaddingLeft</key>
	<integer>7</integer>
	<key>itemListIconPaddingRight</key>
	<integer>7</integer>
	<key>itemListLabelCircleDiameter</key>
	<integer>12</integer>
	<key>itemListLabeledExtraDetailsBackgroundColor</key>
	<string>clearColor</string>
	<key>itemListLabeledExtraDetailsBadgeCornerRadius</key>
	<integer>0</integer>
	<key>itemListLabeledExtraDetailsBadgeHeight</key>
	<integer>0</integer>
	<key>itemListLabeledExtraDetailsBaselineOffset</key>
	<integer>0</integer>
	<key>itemListLabeledExtraDetailsDeemphasizedBaselineOffset</key>
	<integer>0</integer>
	<key>itemListLabeledExtraDetailsDeemphasizedFontName</key>
	<string>@defaultFontName</string>
	<key>itemListLabeledExtraDetailsDeemphasizedFontSize</key>
	<integer>11</integer>
	<key>itemListLabeledExtraDetailsFontName</key>
	<string>@defaultBoldFontName</string>
	<key>itemListLabeledExtraDetailsFontSize</key>
	<integer>13</integer>
	<key>itemListLabeledExtraDetailsPadding</key>
	<integer>4</integer>
	<key>itemListLabeledExtraDetailsSelectedBackgroundColor</key>
	<string>@itemListLabeledExtraDetailsBackgroundColor</string>
	<key>itemListLabeledExtraDetailsSelectedTextColor</key>
	<string>whiteColor</string>
	<key>itemListLabeledExtraDetailsTextColor</key>
	<string>@itemListExtraDetailsTextColor</string>
	<key>itemListNavigationArrowAreaWidth</key>
	<integer>25</integer>
	<key>itemListNavigationArrowPaddingRight</key>
	<integer>7</integer>
	<key>itemListRowHeight</key>
	<integer>24</integer>
	<key>itemListScrollerPadding</key>
	<real>2</real>
	<key>itemListSeparatorLowerLineThickness</key>
	<integer>0</integer>
	<key>itemListSeparatorUpperLineColor</key>
	<string>@itemListExtraDetailsTextColor</string>
	<key>itemListSeparatorUpperLineThickness</key>
	<real>0.25</real>
	<key>itemListSelectedSubtitleFontName@1x</key>
	<string>@itemListSubtitleFontName</string>
	<key>itemListSelectedTitleFontName@1x</key>
	<string>@itemListTitleFontName</string>
	<key>itemListSelectionCornerRadius</key>
	<integer>0</integer>
	<key>itemListSelectionHighlightColor</key>
	<string>selectedMenuItemColor</string>
	<key>itemListSelectionSubsearchHighlightColor</key>
	<string>orangeColor</string>
	<key>itemListShouldSmoothFonts</key>
	<true/>
	<key>itemListSubtitleBaselineOffset</key>
	<integer>-2</integer>
	<key>itemListSubtitleFontName</key>
	<string>@defaultFontName</string>
	<key>itemListSubtitleFontSize</key>
	<integer>11</integer>
	<key>itemListSubtitleTextColor</key>
	<string>@itemListExtraDetailsTextColor</string>
	<key>itemListTitleBaselineOffset</key>
	<integer>-1</integer>
	<key>itemListTitleDecreasedFontSize</key>
	<string>@itemListTitleFontSize * 0.9</string>
	<key>itemListTitleEmphasizedFontName</key>
	<string>@defaultBoldFontName</string>
	<key>itemListTitleFontName</key>
	<string>@defaultBoldFontName</string>
	<key>itemListTitleFontSize</key>
	<integer>13</integer>
	<key>itemListTitleIncreasedFontSize</key>
	<string>@itemListTitleFontSize</string>
	<key>itemListTitleTextColor</key>
	<string>@defaultTextColor</string>
	<key>itemListSubtitleInSeparateLine</key>
	<false/>
	<key>textInputBackgroundColor</key>
	<string>clearColor</string>
	<key>textInputEdgeInsets</key>
	<string>7 0 0 0</string>
	<key>textInputFieldEditorEdgeInsets</key>
	<string>0 0 0 0</string>
	<key>textInputFieldTextContainerInset</key>
	<string>0 0</string>
	<key>textInputFocusRingColor</key>
	<string>clearColor</string>
	<key>textInputFocusRingLineWidth</key>
	<integer>0</integer>
	<key>textInputFontName</key>
	<string>@defaultFontName</string>
  <key>textInputFontSize</key>
	<integer>13</integer>
	<key>textInputSelectedTextColor</key>
	<string>@defaultTextColor</string>
	<key>textInputShouldSmoothFonts</key>
	<true/>
	<key>textInputTextColor</key>
	<string>@defaultTextColor</string>
	<key>textInputTitleTextColor</key>
	<string>@defaultTextColor</string>
	<key>textInputTitleFontName</key>
	<string>@defaultBoldFontName</string>
	<key>textInputTitleFontSize</key>
	<integer>13</integer>
	<key>windowBackgroundColor</key>
	<string>#e2e0e2</string>
	<key>windowCornerRadius</key>
	<integer>5</integer>
	<key>windowDefaultWidth</key>
	<integer>470</integer>
	<key>windowDefaultVerticalPosition</key>
	<real>1</real>
	<key>windowMinimumWidth</key>
	<integer>300</integer>
	<key>windowShadowStyle</key>
	<integer>2</integer>
</dict>
</plist>

