<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>info.benjaminwil.LaunchBar.theme.BijouDark</string>
	<key>CFBundleName</key>
	<string>Bijou Dark</string>
	<key>LBThemeDescription</key>
	<string>A dark LaunchBar theme inspired by Small.</string>
</dict>
</plist>
